body{
    background-color: lightblue;
    margin: 0px;
    font-family: Verdana;
}
header{
    background-color: blue;
    border: 5px double black;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    color: aliceblue;
}
ul{
    font-size: 1.5em;
}
footer{
    background-color: blue;
    height: 4cm;
    border: 5px double black;
    border-radius: 5px; 
    color: aliceblue;
    margin-top: 20px;
}
#p1{
    font-size: large;
}
#img1{
    float: right;
    height: 14em;
    border: 5px double black;
    border-radius: 7px;
    margin-right: 10px;
}
#p2{
    font-size: 3em;
}

